.SearchedBooks {
  height: 100%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 20px;
  transition: height 1s linear;
}

.bookCover,
.noCover {
  height: 200px;
  width: 128px;
  border-radius: 3px;
  box-shadow: 2px 2px 20px #ccc;
  position: relative;
  z-index: 280;
  &:hover {
    transform: scale(1.2);
    transition: transform 300ms;
    transition-delay: 30ms;
    cursor: pointer;
  }
}

.noCover {
  display: inline-block;
  color: #000;
  font-size: 0.7rem;
  text-align: center;
  border: 1px solid #ccc;
  background-color: #fff;
}
