.NavItem {
  list-style: none;
  .NavLink {
    // line-height: 1rem;
    font-size: 1.4rem;
    text-decoration: none;
    color: #544;
    transition: filter 200ms;

    &:hover {
      cursor: pointer;
      filter: brightness(2);
    }
  }
}
