.SearchedBooks {
  height: 100%;
  max-width: 1200px; 
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  transition: height 1s;
}

.bookInfoBox {
  height: 100px;
  width: 100px;
  background-color: grey;
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 300;
}

.bookCover,
.noCover {
  height: 200px;
  width: 128px;
  border-radius: 3px;
  box-shadow: 2px 2px 20px #ccc;
  position: relative;
  &:hover {
    transform: scale(1.2);
    transition: transform 300ms;
    transition-delay: 30ms;
    cursor: pointer;
  }
  &:hover .bookInfoBox {
    display: block;
  }
}

.noCover {
  display: inline-block;
  text-align: center;
  border: 1px solid #ccc;
}
