@import "../../../variables";

.NavBar {
  width: 100%;
  height: 50px;
  background-color: $navbarBg;
  border-bottom: 1px solid #ccc;
}

.Container {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.NavItems {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  align-items: center;
  text-align: center;
  padding-right: 30px;
}
