.NavBar {
  width: 100%;
  height: 6vh;
  display: flex;
  background-color: #F4F1EA;
  border-bottom: 1px solid #ccc;
  box-shadow: 1px 2px 2px #ccc;
}

.NavItems {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding-right: 30px;
}
