.App {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 4rem;
  line-height: 1rem;
}

.subtitle {
  font-size: 2rem;
  line-height: 1rem;
}

.input {
  margin: 75px 0;
  width: 600px;
  height: 60px;
}
