.App {
  height: 94vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // background-image: url(require('./assets/1.jpg'));
}

.header {
  height: 20vh;
  text-align: center;
}

.title {
  font-size: 4rem;
  line-height: 1rem;
}

.subtitle {
  font-size: 2rem;
  line-height: 1rem;
}

.input {
  margin: 30px 0;
  width: 600px;
  height: 60px;
}

.spinnerContainer {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchedBooksContainer {
  height: 80vh;
}